@{
    ViewBag.Title = "Hướng Dẫn Sử Dụng Ứng Dụng Sneaker Store";
}

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title ">@ViewBag.Title</title>
</head>
<style>
    .body {
        justify-content: center;
        display: flex;
        background-color: #333;
    }

    .guide-container {
        margin-left:500px;
        margin-top: 50px;
        width: 700px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 0 10px;
        background-color: #fff;
    }

    .guide-title {
        text-align: center;
        font-size: 30px;
    }
</style>
<body class="body" style="color:#333;">
    <div class="guide-container">
        <h2 class="guide-title">Hướng Dẫn Sử Dụng Ứng Dụng Sneaker Store</h2>

        <ol class="guide-list">
            <li>
                <h3 class="guide-step">Thêm sản phẩm vào giỏ hàng</h3>
                <p class="guide-text">Để thêm sản phẩm vào giỏ hàng, hãy tìm sản phẩm bạn muốn, sau đó nhấn vào nút "Thêm vào giỏ hàng". Sản phẩm sẽ được thêm vào giỏ hàng của bạn.</p>
            </li>
            <hr>
            <li>
                <h3 class="guide-step">Hoàn tất đặt hàng</h3>
                <p class="guide-text">Khi bạn đã thêm sản phẩm vào giỏ hàng, hãy truy cập vào giỏ hàng của bạn. Kiểm tra lại thông tin sản phẩm và nhấn vào nút "Xác Nhận". Nhập thông tin giao hàng và chọn phương thức thanh toán, sau đó nhấn "Xác Nhận".</p>
            </li>
            <hr>
            <li>
                <h3 class="guide-step">Liên hệ hỗ trợ</h3>
                <p class="guide-text">Nếu bạn gặp bất kỳ khó khăn nào, vui lòng liên hệ với chúng tôi qua số điện thoại <strong class="contact-info" style="color:#ffd91e">0397371297</strong> hoặc email <a href="mailto:dh813345@gmail.com" class="contact-info" style="color:#ffd12c">dh813345@gmail.com</a>.</p>
            </li>
        </ol>
    </div>
</body>
</html>
